@import '../utils/variables.scss';
header{
    display: flex;
    flex-direction: row;
    background-color: $menu-color;
    align-items: center;
    justify-content: space-between;
& > img {
    background-color: $menu-color;
    width: 3rem;
    margin: 0px 20px;
    margin-bottom: $spacing-lg;
    margin-top: $spacing-md;
  }
  &__botton {
    cursor: pointer;
    border: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: $menu-color;
    background-color: $background-color;
  }
}