@import "../Utils/variables.scss";
@import "../Utils/mixings.scss";

.card {
  @include column;
  border: solid 1px $text-color;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  max-width: 460px;
  background-color: #006d77;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  &__title {
    color: $text-color;
    font-weight: 600;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: solid 1px $text-color;
    background-color: #006d77;
    border-radius: 5px;
  }
  &__subtitle {
    font-weight: 600;
    width: 90%;
    margin: 5px 0px;
    padding: 10px;
    border: solid 1px #006d77;
    background-color: $text-color;
    border-radius: 5px;
  }
  &__img {
    width: 100%;
    border-radius: 5px;
    border: solid 1px $text-color;
  }
  &__button {
    font-weight: 600;
    padding: 5px 20px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #ed6a5a;
    border: solid 1px $text-color;
    color: $text-color;
  }
}
